@charset "UTF-8";

// Vendor
// ---------------------------------
@import "vendor/normalize";

// Components
// ---------------------------------
@import "components/variables";
@import "components/responsive";
@import "components/global";

// Animations
// ---------------------------------
@keyframes reveal{
	0% {opacity: 0;}
	100% {opacity: 0.7;}
}
	// For the Logo
.reveal{
	animation: reveal 1s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes moveUp{
	0%{opacity: 0; top: 30px; }
	100%{opacity: 1; top: 0px;}
}
	// For Above-The-Fold content
.moveUp{
	opacity: 0;
	position: relative;
	animation: moveUp 0.6s $smoothCurve;
	animation-fill-mode: forwards;
}

// HomePage Styles
// ---------------------------------

section.cover{
	min-height: 100%;
	background: url('/assets/img/hero.png') center center no-repeat;
	background-size: cover;

	.logo{
		text-transform: uppercase;
		font-weight: $font-reg;
		font-size: 1.2rem;
		color: $grey;
		padding: 60px;
		letter-spacing: 3px;
		text-align: center;
		@extend .reveal;

		@include breakpoint(phone-lg) {
		    font-size: 1.4rem;
			text-align: left;
		}
	}

	.title{
		padding: 30px 0;

		h1, h2{
			text-align: center;
			opacity: 0;
			font-family: $font-sans;
			color: $white;
			text-transform: uppercase;
			font-size: 1.8rem;
			@extend .moveUp;

			@include breakpoint(phone-lg) {
			    font-size: 2rem;
			}
			@include breakpoint(tablet) {
			    font-size: 2.4rem;
			}
			
		}

		h2{
			font-size: 1.1rem;
			text-transform: none;
			font-weight: $font-light;
			animation-delay: 0.1s;
			@include breakpoint(phone-lg) {
			    font-size: 1.1rem;
			}
			@include breakpoint(tablet) {
			    font-size: 1.3rem;
			}
		}
	}

	.stayUpdatedContainer{
		padding: 20px;
		width: auto;
		margin: 0 auto;
		text-align: center;

		.stayUpdated{
			display: inline-block;
			position: relative;
			margin: 0 auto;
			@extend .moveUp;
			animation-delay: 0.2s;

			.stayUpdatedInput{
				display: inline-block;
				width: 250px;
				padding: 10px 20px;
				margin: 20px 10px;
				border: transparent;
				border-radius: 2px;
				border: 1px solid transparent;
				font-family: $font-sans;
				font-weight: $font-light;
				font-size: 1.2rem;
				font-style: italic;
				vertical-align: middle;
				position: relative;

				@include breakpoint(tablet) {
				    width: 400px;
				}
			}
			.updateButton {
				display: inline-block;
				text-align: center;
				padding: 14px 40px 12px;
				margin: 0 10px;
				background-color: $cyan;
				font-size: 1rem;
				color: white;
				font-weight: $font-reg;
				border: 1px solid transparent;
				border-radius: 5px;
				text-transform: uppercase;
				vertical-align: middle;
				position: relative;
				transition: 0.2s all cubic-bezier(.6,.56,.39,1);

				&:hover,
				&:active {
					background: $cyanLight;
				}
			}
		}
	}
}

section.features{
	.container{
		display: block;
		padding: 20px 30px;
		text-align: center;

		@include breakpoint(tablet) {
		    display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.featureContainer{
			display: flex-box;
			max-width: 450px;
			padding: 30px;
			text-align: center;
			margin: 0 auto;
			visibility: hidden; // Set for ScrollReveal.js

			@include breakpoint(tablet) {
			    max-width: 350px;
			}

			.featureImg{
				width: 168px;

				@include breakpoint(tablet) {
				    width: 128px;
				}
			}

			.featureTitle{
				font-size: 1.8rem;
				text-transform: uppercase;

				@include breakpoint(tablet) {
				    font-size: 1.4rem;
				}
			}

			.featureText{
				font-weight: $font-reg;
				font-size: 1rem;
			}
		}
	}
}

footer{
	background: $grey;
	font-family: $font-sans;
	font-size: 0.8rem;

	.container{
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;

		@include breakpoint(tablet) {
		    display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.copyright{
			display: block;
			margin:0;
			text-align: center;

			img{
				position: relative;
				top: 3px;
			}

			.mailLink{
				text-decoration: none;
				color: $black;
				font-style: italic;
				display: inline-block;

				&:after{
					content: "";
					background-color: black;
					visibility: hidden;
					width: 100%;
					transform: scale(0);
					height: 2px;
					display: block;
					transition: 0.3s all cubic-bezier(.04,.28,.1,.98);
				}

				&:hover{
					&:after{
						visibility: visible;
						transform: scale(1);
					}
				}
			}

			@include breakpoint(tablet) {
			    display: flex-box;
			    text-align: left;
			}
		}

		.social{
			display: block;
			margin: 0;
			text-align: center;
			padding-top: 20px;

			a{
				margin: 0 5px;

				img{
					transform: scale(1);
					transition: 0.4s all $smoothCurve;

					&:hover{
						transform: scale(1.2);
					}
				}
			}

			@include breakpoint(tablet) {
			    display: flex-box;
			    text-align: right;
			    padding-top: 0px;
			}
		}
	}
}